
    <div class="detail">
        <h1>My Personal Newsletter</Samp></h1>
         <p> Do you want to access my watchlist and portfolio and know every company I invest in along with a detailed analogy of the company?</p>
         <a href="/service"><button>Yes, I want access!</button></a>
     </div>
     <div class="video">
        <img src="/profilepic.jpg">
     </div>
