<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invest with Soumyadeep</title>
    <link rel="icon" href="/profilepic.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/index.css">
    <script src="https://kit.fontawesome.com/8ec9d4b7e0.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="nav grey">
        <img src="profilepic.jpg" alt="profile Image">
        <div>
            <a href="/" style="color: black;"><h2><i class="fa-solid fa-house fa-lg"></i></h2></a>
        </div>
    </div>
   
    <div class="main">
       
        <div class="content grey">
            <%-body%>
        </div>
       
    </div>
    <div class="footer">
        <p>Copyright © Soumyadeep Paul 2024</p>
        <p><a href="/terms">Terms of Service</a> &nbsp;&nbsp;&nbsp;&nbsp; <a href="/privacy">Privacy Policy</a></p>
    </div>
    
</body>
</html>